    body {
      color: rgb(10, 10, 10);
      background-color: rgb(183, 6, 6);
      font-size: 40px;
      font-family: "Gill Sans Extrabold", fantasy;
      margin: 0 auto;
      text-align: center;
      text-shadow: 20px 20px 20px rgb(59, 29, 29);
      text-decoration: wavy underline rgb(155, 77, 77);
      font-variant: small-caps;
    }